* {
    /* Removed default browser defaults here to make css easier. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0F0F0F;
}

.content::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    /* fallback color incase background image doesn't load. */
    background-color: black;
    background-image: url(../images/stars.jpg);

    width: 100%;
    height: 100vh;
    /* Filters make it easier to read text and such. */
    filter: blur(5px) brightness(50%);
    transform: scale(1.1);

}


.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 0;
}


/* Main content Wrapper */
#wrapper {
    width: 90%;
    margin: 3rem auto;
    padding-top: 3rem;
    overflow: hidden;

}

header {
    background: #273042;
    /* background: linear-gradient(90deg, rgba(65, 78, 105, 1) 0%, rgb(79, 98, 134) 100%);
     */
    border-bottom: 2px rgb(69, 78, 97) solid;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
}



.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
}

.navbar li {
    /* List item size should be based on the actual button size, so make it fit content. */
    width: fit-content;

}

a {
    font-size: 1rem;
    padding: 1rem;
    /* 100% dimensions means it is the full size of the parent li element */
    /* min-width: 12rem; */
    height: 100%;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;

}

.navbar a:hover {
    background-color: #32405a;
}

#dropdown-btn {
    font-size: 1rem;
    height: 100%;
    color: white;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

#dropdown-btn:hover {
    background-color: #32405a;
}

.dropdown-menu {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .dropdown-menu:hover .dropdown-content {
    display: block;
} */

#dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #344e7c;
    border-top: 2px rgb(69, 78, 97) solid;
}

#dropdown-content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#dropdown-content a:hover {
    background-color: #4c6081;
}

#dropdown-content li {
    width: 100%;
}


#currentPage {
    font-weight: bold;
}


p {
    color: white;
    font-size: 1.25rem;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 1rem;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1.25rem;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 0.3rem;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    color: white;
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
    text-shadow: 2px 2px 4px #000000;
}

.grid-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #32405a4f;
    height: 100%;
    padding: 2rem;
    border-radius: 1rem;

}


.grid-media-container img {
    height: auto;
    width: 300px
}

.grid-media-container img {
    height: auto;
    width: 300px
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 2rem;
    gap: 2rem;
}

.media-container video {
    height: auto;
    width: 100%;
}

.text-container {
    padding: 2rem;
}

.grid-text-container {
    background-color: #32405a4f;
    height: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 8rem;
    text-align: center;

}

.planet-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: center;

}


.fact-container {
    background-color: #32405a4f;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
}

.planet-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding-block: 2rem;

    margin: 1rem 1rem 0 1rem;
    gap: 1rem;
}

.planet-grid-container a {
    text-decoration: none;
}

.planet-group {
    margin-bottom: 3rem;
}

.planet-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: transform 0.1s ease-in-out;
}

.planet-child p {
    margin: 0;
}

.planet-child img {
    height: auto;
    width: 100px;
    margin-bottom: 1rem;
}

.planet-child:hover {

    transform: scale(1.1);
    background-color: #32405a4f;
    border-radius: 1rem;
}

ul {
    list-style-type: square;
    padding-left: 1rem;
}

ul li::marker {
    color: rgb(255, 255, 255);
}



button {
    font-size: 1.2rem;
    color: white;
    padding: 0.8rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #95add8;
}

.btn-default {
    background-color: #637aa5;
}

.btn-highlight {
    background-color: #3279f3;
}

.text-container {
    margin-bottom: 2rem;
}

@media screen and (min-width: 568px) {
    .navbar a {
        font-size: 1.5rem;
        text-align: left;
    }

    #dropdown-btn {
        min-width: 12rem;
    }

    #dropdown-btn {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 4rem;
    }

    .btn-container {
        margin-bottom: 2.5rem;
    }

    .grid-media-container img {
        height: 90%;
        width: 90%;
    }



    .planet-grid-container {
        grid-template-columns: 40% 40%;
        gap: 4rem;
    }



    .planet-child img {
        width: 180px;
    }
}

@media screen and (min-width: 666px) {

    /* At this size the nav bar aligns to the left with a margin, this is the desktop-like version, it also fills more horizontal space. */
    .navbar .main-nav-bar {
        justify-content: left;
        margin-left: 2.5%;
    }

    .navbar a {
        padding: 1rem;
    }


    .planet-grid-container {
        margin-top: 3rem;
    }

    .planet-child {
        padding: 2;
    }



    button {
        font-size: 1.5rem;
    }


}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 4.5rem;
    }

    .planet-child img {
        width: 230px;
    }

    .btn-container button {
        padding: 1rem;
        min-width: 10rem;
    }

    #dropdown-content a {
        font-size: 1.5rem;
    }

    .navbar a {
        min-width: 10rem;
    }

}

@media screen and (min-width: 1024px) {

    #wrapper {
        width: 80%;
    }

    .grid-media-container img {
        height: 70%;
        width: 70%;
    }

}

@media screen and (min-width: 1300px) {

    #wrapper {
        width: 70%;
    }

    .navbar a {
        font-size: 2rem;
        min-width: 12rem;
    }

    #dropdown-btn {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }

    .grid-text-container {
        margin-bottom: 0;
    }

    .grid-media-container {
        margin-bottom: 0;
    }

    .grid-media-container img {
        height: auto;
        width: 100%;

    }

    #milky-container {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
        gap: 2rem;

    }

}